#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Ror
.bundle
/db/*.db
/db/*.sqlite3
/db/schema.rb
/log/*.log*
/tmp/**/*

#Ignore files build for rails app
/Gemfile
/config/database.yml
/vendor/rails

#Ignore files build by Rubymine
/.idea